.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ffffff;
  color: #535353;
  box-shadow: 0px 12px 16px 0px #00000024;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px 24px;
}
.link___2JLk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___5HgFg {
  object-fit: cover;
  height: 40px;
}
.img___5HgFg > picture > img {
  object-fit: cover;
}
.img__pcDqh {
  object-fit: cover;
}
.img__pcDqh > picture > img {
  object-fit: cover;
}
.img__rMlM6 {
  object-fit: cover;
}
.img__rMlM6 > picture > img {
  object-fit: cover;
}
.link__v4155 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
}
.link__f7Bxe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
}
.link__joYud {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
}
.link__imuz9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
}
.hero {
  display: grid;
  position: relative;
  width: 100%;
  height: 860px;
  grid-row-gap: 16px;
  align-content: center;
  justify-items: center;
  background: url("/plasmic/penida_tour_host/images/nusapenidaHomeMinjpg.jpg") top 50% left 50% / cover repeat;
  margin-top: -72px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.hero > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero > * {
    grid-column: 4;
  }
}
.reveal__aysVl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__xYcfp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xYcfp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__xYcfp > :global(.__wab_flex-container) > *,
.freeBox__xYcfp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xYcfp > :global(.__wab_flex-container) > picture > img,
.freeBox__xYcfp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h6 {
  position: relative;
  color: #ffffff;
}
.h1__vyyG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  text-align: center;
  margin-top: calc(0px + 24px) !important;
  min-width: 0;
}
.h4__cIhdc {
  position: relative;
  color: #ffffff;
}
.freeBox__wHkBi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 24px;
  min-width: 0;
}
.button___81WQ:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg___3VFq3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dUys7 {
  font-size: 1.25em;
}
.svg__kRJ8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.why {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 860px;
  background: url("/plasmic/penida_tour_host/images/section2Jpg.jpg");
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0;
}
.why > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .why {
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .why > * {
    grid-column: 4;
  }
}
.reveal__ne5Ys:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.columns {
  display: flex;
  position: relative;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  justify-self: flex-start;
  background: #ffffff66;
  width: 100%;
  flex-grow: 0;
  min-width: 1098px;
  overflow: visible;
  border-radius: 24px;
  padding: 24px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nNqFy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.h1__xB1Z8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  padding-bottom: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__xB1Z8 {
    font-size: 46px;
  }
}
.article {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #535353;
  text-align: justify;
  line-height: 2em;
  min-width: 0;
}
.freeBox___9O3YS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 24px;
  min-width: 0;
}
.button__sx5D7:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__tPeX0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nKfgn {
  font-size: 1em;
}
.svg__rpcyh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__bKhLc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bKhLc {
    display: none;
  }
}
.img__g4SF3 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 600px;
  height: 580px;
  left: 26px;
  top: -50px;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__g4SF3 > picture > img {
  object-fit: cover;
}
.tour {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  justify-self: flex-start;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0;
}
.tour > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tour > * {
    grid-column: 4;
  }
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___2Qegb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__h1KJ5 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 24px;
  padding-right: 24px;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  min-width: 1098px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h1KJ5 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    min-width: auto;
  }
}
.link__s000Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000021;
  overflow: hidden;
  cursor: pointer;
  min-width: 0;
  border-radius: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__s000Y {
    display: flex;
    flex-direction: column;
  }
}
.img___3TgA0 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 210px;
  min-width: 0;
  flex-shrink: 0;
}
.img___3TgA0 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___3TgA0 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.freeBox__jvCsR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 24px 24px 0px;
}
.freeBox__jvCsR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__jvCsR > :global(.__wab_flex-container) > *,
.freeBox__jvCsR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jvCsR > :global(.__wab_flex-container) > picture > img,
.freeBox__jvCsR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__xcMXk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ff0000;
  min-width: 0;
}
.text__bRbj {
  position: relative;
  width: 100%;
  height: 90px;
  max-width: 100%;
  white-space: pre;
  text-overflow: clip;
  overflow: hidden;
  user-select: text;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__jvyZk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px;
}
.button__zyDsr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___2Ku {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lDQdk {
  font-size: 1em;
}
.svg__hCumo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nL6T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__uvmat {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: #18231b;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0;
}
.section > * {
  grid-column: 4;
}
.freeBox__lWMgQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 285px;
  max-width: 1098px;
  background: url("/plasmic/penida_tour_host/images/bannerMinpng.png");
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 24px;
  padding: 42px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  min-width: 0;
}
.freeBox__bFwCi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 24px;
  min-width: 0;
}
.button__qgXUa:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vt4Ct {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tfshb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
